<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icu.yujing.product.app.product.dao.CommentDao">
    <update id="changeLikes">
        UPDATE product_comment
        <set>
            ups = ups + #{ups},
            downs = downs + #{downs}
        </set>
        <where>comment_id = #{commentId}</where>
    </update>

    <select id="getComments" resultType="icu.yujing.product.app.product.entity.vo.CommentVo">
        SELECT pc.comment_id comment_id,
               pc.user_id    user_id,
               pc.comment    comment,
               pc.date date,
               pc.ups ups,
               pc.downs downs
        FROM product_comment pc
        WHERE video_id = #{videoId}
            LIMIT #{index}
            , #{size}
    </select>
</mapper>